.button {
    width: 132px;
    height: 30px;
    border-radius: 3px;
}

.disabled {
    background: #004D99;
    opacity: 0.5;

}

.secondary {
    background-color: #bbffbb;
}

.default {
    background-color: blue;

}

.red {
    background-color: #cc0000;
}

.default:hover {
    background: #0080FF;

}

.red:hover {
    background: #FF1A47;
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: #0059B3;
}

.secondary:active {
    background: #C9E5FF;
    border: 1px solid #0066CC;
    border-radius: 3px;
}

.red:active {
    background: #B31232;

}

.button:disabled {
}
