.App {
    text-align: center;

}

.appBar {
    margin-bottom: 60px;
}

.toolBar {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.linkHomePage {
    color: white;
    font-weight: 600;
    text-decoration: none;
}